.categories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  .categories {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
  }
}
  